@import "_extends";

* {
  box-sizing: border-box;
}

header {
  .logo {
    font-size: 55px;
    position: fixed;
    top: 60px;
    left: 50px;
  }
  nav {
    width: 180px;
    position: fixed;
    top: 0;
    right: 0;
    .nav-grid {
      display: grid;
      grid-template-columns: repeat(3, 60px);
      grid-template-rows: 100vh;
      .nav-column {
        font-size: 20px;
        background-color: #f64444;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 60px 5px;
        span {
          transform: rotateZ(90deg);
        }
        &:first-child {
          background-color: #5ea3ec;
        }
        &:last-child {
          background-color: #ffb400;
        }
      }
    }
  }
}

main {
  width: calc(100% - 180px);
  .main-page {
    width: 100%;
    .main-info {
      padding: 260px 60px 140px;
      font-size: 75px;
      line-height: 1.2;
    }
    .main-img {
      margin-bottom: 140px;
    }
    .main-post {
      @extend %padding;
      margin-bottom: 180px;
      h2 {
        width: 50%;
        font-size: 110px;
        margin-bottom: 100px;
      }
      .main-post_grid {
        @extend %evnetsGrid;
        .main-post_column {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          line-height: 1.8;
          img {
            width: 100%;
            margin-bottom: 35px;
          }
        }
      }
    }
    .main-events {
      @extend %padding;
      .main-events_header {
        @extend %evnetsGrid;
        margin-bottom: 60px;
        .event-header_item {
          @extend %flex;
          &:not(:nth-child(2)) {
            font-size: 65px;
            font-weight: bold;
          }
          &:nth-child(2) {
            font-size: 90px;
            text-align: center;
          }
        }
      }
      .main-events_schedule {
        @extend %evnetsGrid;
        @extend %borderDash;
        margin-bottom: 150px;
        padding: 60px 0 85px;
        position: relative;
        .events-schedule_item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          .date {
            font-size: 12px;
            margin-bottom: 20px;
          }
          .schedule {
            font-size: 18px;
            line-height: 1.3;
          }
        }
        .btn {
          width: 180px;
          height: 65px;
          position: absolute;
          bottom: -25px;
          left: 42%;
          @extend %btn;
          @extend %btnHover;
        }
      }
    }
    .main-address {
      @extend %padding;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 60px;
      margin-bottom: 70px;
      .address,
      img {
        @extend %borderDashAll;
      }
      .address {
        font-size: 60px;
        line-height: 1.2;
        padding: 80px 80px;
      }
      img {
        width: 100%;
      }
    }
  }
}

footer {
  width: calc(100% - 180px);
  .footer {
    @extend %padding;
    .footer-row {
      margin-bottom: 60px;
      &:first-child {
        h3 {
          font-size: 50px;
        }
        .footer-row_item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 50px 200px;
          .btn {
            width: 180px;
            height: 55px;
            margin-top: 40px;
            @extend %btn;
            @extend %btnHover;
          }
        }
      }
      &:first-child,
      &:last-child {
        display: grid;
        grid-template-columns: 1fr;
      }
      &:nth-child(2) {
        @extend %evnetsGrid;
        .footer-row_item {
          @extend %flex;
          line-height: 1.3;
          text-align: center;
          padding: 55px 110px;
          @extend %borderDashAll;
        }
      }
      &:last-child {
        display: grid;
        grid-template-columns: 1fr;
        .footer-row_item {
          padding: 30px 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            font-size: 24px;
            line-height: 1.3;
            margin-right: 65px;
          }
          form {
            position: relative;
            input {
              width: 680px;
              height: 60px;
              padding: 0 30px;
              outline: none;
            }
            button {
              position: absolute;
              right: 30px;
              top: 20;
              border: none;
              outline: none;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
